<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>すぐ欲しい！！</title>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css" />

    <!-- 地図に必要なleafletライブラリを読み込む 必ずcssの後にjsを読み込む -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>

<body>
    <p>hello</p>
    <p id="status">位置情報を取得しています.......</p>

    <br />

    <!-- search -->
    <form action="POST" action="/html" id="myform">
        <input type="text" name="ProductName" value="パスタ" id="name" />
        <input type="hidden" name="UserLat" value="38.48199" id="lat" />
        <input type="hidden" name="UserLon" value="140.34343" id="lon" />
        <input type="submit" id="btn"></input>
    </form>

    <!-- search result table -->
    <table border="1" id="tbl">
        <tr>
            <th>商品名</th>
            <th>商品画像</th>
            <th>値段(税込)</th>
            <th>取扱い店舗</th>
            <th>Google Map</th>
        </tr>
    </table>

    <script type="text/javascript">
        // TODO: 取扱店は店舗の名前がいい。後でいいかも
        // TODO: 商品リンクは画像にする
        // <a href="商品url"> <img src="商品画像url"> </a>
        console.log("I'm script of main.html.");
        var geolocation_is_available = false

        function CreateGoogleMapUrl(userLat, userLon, storeLat, storeLon) {
            return "https://www.google.com/maps/dir/?api=1&origin=" + userLat + "," + userLon + "&destination=" + storeLat + "," + storeLon
        }

        // Set lat lon after page loading
        if (navigator.geolocation) {
            // user's mobile is available to use geolocation.
            var geolocation_is_available = true
            var is_getting_coordinate = false
            navigator.geolocation.getCurrentPosition(success, fail);
        } else {
            // user's mobile is not available to use geolocation.
            alert("あなたの端末では現在位置を取得できません。")
        }

        function success(pos) {
            document.getElementById("lat").value = pos.coords.latitude;
            document.getElementById("lon").value = pos.coords.longitude;
            console.log("位置情報の取得を完了しました。")
            $("#status").text("位置情報の取得を完了しました。")
            is_getting_coordinate = true
        }

        function fail(pos) {
            console.log('位置情報の取得に失敗しました。エラーコード：');
        }

        $("#btn").on('click', function() {
            if (!geolocation_is_available || !is_getting_coordinate) {
                alert("現在位置情報を取得しています....　2,3秒お待ちください。");
                return false
            }
            productName = document.getElementById("name").value
            userLat = parseFloat(document.getElementById("lat").value)
            userLon = parseFloat(document.getElementById("lon").value)
            var jsonData = JSON.stringify({
                "ProductName": productName,
                "UserLat": userLat,
                "UserLon": userLon
            })
            console.log("send data to server: " + jsonData)
            $.ajax({
                url: "/html",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: jsonData,
                cache: true,
                timeout: 5000,
            }).done(function(results) {
                console.log("ajax successful");
                console.log("data from server: ", results);
                // result append to the table.
                for (var i = 0; i < results.length; i++) {
                    r = results[i]
                    console.log(r)
                    googleMapUrl = CreateGoogleMapUrl(userLat, userLon, r.lat, r.lon);
                    // TODO: dealerはいらない
                    // TODO: 値段を数字にする。表示する際は+円をつける。ソートできるようにする。
                    // TODO: まずは変数名、コメント、GRPC周辺の整理。
                    // img 640 480
                    $("#tbl").append("<tr> <td>" + r.productName + "</td><td><a href=" + r.url + "><img src=" + r.imgUrl + " width=\"128\" height=\"96\" ></a></td><td>" + r.price + "</td><td>" + r.storename + "</td><td><a href=" + googleMapUrl + ">Google Map</a></td></tr>")
                }
            }).fail(function(data) {
                console.log("ajax fail.")
                console.log("data: ", data)
            });
            // 通常でのsubmit処理を無効にする
            return false
        })
    </script>
</body>

</html>