.post {
    border: 1px solid #333333;
    margin: 100px auto;
    border-radius: 3px;
    width: 30em;
    background-color: white;
}

.wrapper {
    width: 25em;
    margin: 30px auto 40px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.label {}

.text {
    width: 100%;
    margin: 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #333333;
}

.submit {
    width: 100%;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button {
    width: 100%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}