.result {
    margin: 50px 0;
    width: 70em;
    height: 50em;
}

.wrapper {}

.table {
    display: flex;
    flex-direction: row;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 10px 10px;
}

.thead {
    width: 100%;
    height: 2em;
}

.bar {
    border: 1px solid #333333;
}

.tbody {
    width: 100%;
    height: 5em;
}

th,
td {
    width: 350px;
    text-align: center;
}

td:last-child {
    padding: none !important;
}

td {
    padding: 20 20px;
    position: relative;
}